html {
  box-sizing: border-box;
  font-family: "Sans-Serif";
  line-height: 1.5;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  padding-right: 1rem;
}

header img {
  padding-left: 1rem;
}

header p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav a {
  color: #0074d9;
}
